{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <meta charset="UTF-8">
        <title>
            Favourite Books
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
			{% if user.is_authenticated %}
			<p>Logged as {{ user.username }}</p>
			<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
			{% else %}
			<a href="{% url 'social:begin' 'google-oauth2' %}">Log in with Google</a><br>
			{% endif %}
            <h1 class= "text-center">BOOKS </h1>
        </div>
		<div>
			<form class="search" action ="{%url 'search'%}" method='post'>
			{% csrf_token %}
			<input type="search" placeholder="Search here..." name="usr_query" value='{ query }' required>
			<button type="submit">Search</button>
			</form>
		</div>
        <div>
            <h3 class = "text-center">Favorite: <span id="counter"> 0 </span></h2>
        </div>
        <div>
            <table class="table table-responve">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Published Date</th>
                        <th scope="col">Favorites</th>
                    </tr>
                </thead>
                <tbody id="konten">
                </tbody>
            </table>
        </div>
        <noscript>Browser notto javascripto</noscript>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/Books.js' %}"></script>
    </body>
</html>
